@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Roboto&display=swap');

main {
    padding: 16px;
    margin: 0px;
}

.in_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
    background-color: honeydew
}

img {
    height: 200px;
}

nav {
    border-bottom: 3px dotted fuchsia;
    padding: 16px;
    background-color: ghostwhite;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 100%;
    position: fixed;
    bottom: 0px;
    background-color: lavender;
    width: 500px
}

a:hover {
    color: plum;
    transition: .5s;
}

a:link {
    text-decoration: none;
}

a {color: hotpink}

h1 {color: mediumslateblue}

  tr:nth-child(even) {
    background-color: mistyrose;
}

img {
    box-shadow: mistyrose 10px 2px 10px 2px;
}

img:hover {
    box-shadow: cornflowerblue 10px 2px 10px 2px;
    transition: 1.5s;
}

h2 {
    color: mediumslateblue
}

li:nth-child(even) {
    background-color: mistyrose;
}

